* {
    box-sizing: border-box;
    margin: 0;
    --main-bg: #292c1f;
    --section-bg: #454531;
    --border: #fce798;
    --body-bg: #1d141b;
    --odd-character: #889883;
    --even-character: #c5c6c5;
}

@font-face {
    font-family: 'Starwars';
        src: url('assets/Starjedi.ttf');
}

body {
    background-color: var(--body-bg);
}

.container {
    width: 100%;
    max-width: 1440px;
    height: 1060px;
    margin: auto;
    margin-top: 50px;
    background-color: var(--main-bg);
    border-radius: 20px;
}

.hero {
    width: 100%;
    height: 450px;
    background-image: url('assets/hero-bg.jpg');
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.title {
    width: 30%;
    font-family: 'Starwars';
    font-size: 64px;
    text-align: center;
    text-shadow: 
        3px 3px 2px black,
        -3px -3px 2px black,
        -3px -3px 2px black,
        3px 3px 2px black
    ;
    line-height: 100%;
    color: var(--border);
    position: relative;
    transform: translate(10%, 40%);
    /*background-color: pink;*/
}

main {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    height: 620px;
    position: absolute;
    transform: translateY(-10%);
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
}

.selection {
    width: 34%;
    height: 100%;
    background-color: var(--section-bg);
    border-radius: 16px;
    border: 6px solid var(--border);
}

.selection-top {
    width: 100%;
    height: 72px;
    color: var(--border);
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    padding-top: 16px;
    text-align: center;
    border-radius: 16px 16px 0 0;
}

.selection-list {
    width: 100%;
}

.selection-list:hover {
    cursor: pointer;
}

.list-item {
    font-family: 'Poppins', sans-serif;
    color: var(--body-bg);
    font-size: 24px;
    padding: 9px;
}

.list-nav {
    color: var(--border);
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    padding: 10px;
    text-align: center;
}

.arrow:hover {
    cursor: pointer;
}

.details {
    width: 34%;
    height: 100%;
    background-color: var(--odd-character);
    border-radius: 16px;
    border: 6px solid var(--border);
}

.details-top {
    width: 100%;
    height: 72px;
    background-color: var(--main-bg);
    color: var(--border);
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    padding-top: 16px;
    text-align: center;
    border-radius: 16px 16px 0 0;
}

.character-details {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    height: 45%;
    background-color: var(--even-character);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 20px;
    padding-top: 16px;
}

.char-name.name {
    font-size: 28px;
    margin-bottom: 8px;
}

.info-tabs {
    background-color: var(--even-character);
    height: 6%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 20px;
}

.tab {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    color: var(--border);
    width: 20%;
    background-color: var(--section-bg);
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding-top: 10px;
}

.planet.tab {
    background-color: var(--odd-character);
}

.tab:hover {
    cursor: pointer;
}

.extra-info {
    color: white;
    background-color: var(--odd-character);
    margin-bottom: 0;
    height: 35.5%;
    border-radius: 0 0 16px 16px;
}

.planet-details {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    height: 45%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 20px;
    padding-top: 16px;
}

.planet-name {
    font-size: 28px;
    margin-bottom: 8px;
}

/* HTML: <div class="loader"></div> */
.loader {
    --R: 30px;
    --g1: #514b82 96%, #0000;
    --g2: #eeeeee 96%, #0000;
    width: calc(2*var(--R));
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    -webkit-mask: linear-gradient(#000 0 0);
    animation: l30 2s infinite linear;
  }
  .loader::before,
  .loader::after{
    content:"";
    grid-area: 1/1;
    width: 50%;
    background:
      radial-gradient(farthest-side,var(--g1)) calc(var(--R) + 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
      radial-gradient(farthest-side,var(--g1)) calc(var(--R) + 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
      radial-gradient(farthest-side,var(--g2)) calc(var(--R) + 0.5*var(--R)   - var(--R)) calc(var(--R) - 0.866*var(--R) - var(--R)),
      radial-gradient(farthest-side,var(--g1)) 0 calc(-1*var(--R)),
      radial-gradient(farthest-side,var(--g2)) calc(var(--R) - 0.5*var(--R)   - var(--R)) calc(var(--R) - 0.866*var(--R) - var(--R)),
      radial-gradient(farthest-side,var(--g1)) calc(var(--R) - 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
      radial-gradient(farthest-side,var(--g2)) calc(-1*var(--R))  0,
      radial-gradient(farthest-side,var(--g1)) calc(var(--R) - 0.866*var(--R) - var(--R)) calc(var(--R) + 0.5*var(--R)   - var(--R));
     background-size: calc(2*var(--R)) calc(2*var(--R));
     background-repeat :no-repeat;
  }
  .loader::after {
   transform: rotate(180deg);
   transform-origin: right;
  }
  
  @keyframes l30 {
    100% {transform: rotate(-1turn)}
  }